// components/Layout.scss

@import "../../theme/theme";

.Layout {
  .Content {
    width: 75%;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
  }
  .Section {
    margin-top: 8rem;
  }

  .Section:nth-child(n+2) {
    margin-top: 16rem;
  }

}
