// components/Contact/Contact.scss

@import "../../theme/theme";

label {
  font-weight: 600;
  font-size: 0.9rem;
  display: block;
  margin: 0.5rem 0;
}

.Input {
  border: none;
  padding: 0 1rem;
  min-width: 250px;
}

.Contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7.5rem;
  form {
    display: block;
    margin-top: 0em;
    min-width: 75%;
    input, textarea {
      width: 100%;
      overflow:auto;
    }
    textarea {
      text-rendering: auto;
      color: initial;
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      display: inline-block;
      text-align: start;
      -webkit-appearance: textfield;
      background-color: white;
      -webkit-rtl-ordering: logical;
      cursor: text;
      outline: none;
      min-height: 10em;
      margin: 1em 0em 0em 0em;
      font: 500 12px system-ui;
      padding: 1px;
    }
    input {
      text-rendering: auto;
      color: initial;
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      display: inline-block;
      text-align: start;
      -webkit-appearance: textfield;
      background-color: white;
      -webkit-rtl-ordering: logical;
      cursor: text;
      margin: 1rem 0rem 0rem 0rem;
      font: 500 12px system-ui;
      padding: 1px;
      border-width: 2px;
      border-style: inset;
      border-color: initial;
      border-image: initial;
    }
    input:focus, textarea:focus{
      outline-width: .01rem !important;
    }
    input[type="submit"] {
      /* Fix IE7 display bug */
      overflow:visible;
      margin-top: 0.75rem;
      text-align: center;
      background: $highlight;
      border: 1px solid $highlight;
      color: $primary;
      font-weight: 600;
      font-size: 0.95rem;
      font-family: $core-font;
      padding: 0.5rem 1rem;
      cursor: pointer;
    }
  };
}
