.Section {
  .Subtitle {
    letter-spacing: -.016em;
    font-size: 1.15rem;
    font-weight: 700;
    cursor: default;
  }
  h3 {
    margin-top: 1rem;
    font-size: 3rem;
    letter-spacing: -.016em;
    line-height: 1.25;
    font-weight: 700;
    color: #101010;
    cursor: default;
  }
  p {
    margin-top: 1.5em;
    letter-spacing: .004em;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.6;
    color: #121212;
  }
}